@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
  background-color: black;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/*
ul {
  list-style: none outside none;
}
*/

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  color: white;
  font-family: Abel;
  display: inline-block;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  vertical-align: top;
  color: white;
}

header {
  display: inline-block;
}

.portfolio_entry,
.team_list,
.mission_statement,
.find_more {
  font-family: Abel;
  color: white;
}

.nav_item {
  display: inline;
}

#landing_title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_button {
  position: absolute;
  right: 10px;
}

#portfolio,
#meet_the_team {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  justify-content: space-evenly;
  height: 100vh;
}

#augmented_reality,
#robotics,
#artificial_intelligence {
  text-align: center;
}

#what_we_do,
#contact_us {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#portfolio_section {
  text-align: center;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s cubic-bezier(1, 0, 0, 1);
  opacity: 1;
}

.change {
  right: 0;
}

.hamburgermenu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}

.change .line_1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  background-color: white;
}

.change .line_2 {
  opacity: 0;
}

.change .line_3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  background-color: white;
}

.nav_list {
  text-align: right;
}

.nav_item {
  list-style: none;
  margin: 25px;
}

.nav_link {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav_link::before,
.nav_link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav_link::after {
  bottom: 0;
  transform-origin: right;
}

.nav_link::before {
  top: 0;
  transform-origin: left;
}

.nav_link:hover::before,
.nav_link:hover::after {
  transform: scaleX(1);
}
